*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fp-container{
    min-width: 200px;
    max-width: 400px;
    padding: 20px;
    margin: auto auto;
    border-radius: 20px;
    box-shadow: 5px 5px 8px violet;
    background-color: black;
    color: orange;
    border: 2px solid red;
}
.fp-container .fp-title{
    color: whitesmoke;
    font-size: 35px;

}
.fp-container form{
    margin-top: 25px;
}
.fp-container .fp-form-field{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 10px 0px;
    gap: 5px;
}
.fp-submit-btn .fp-container{
    margin-top: 40px;
    border: none;
    padding: 10px 20px;
    background-color: yellow;
    color: black;
    border-radius: 10px;

}